
#navflex{
    font-size: 20px;
    transition-property: all;
}

#navbar-home{
   text-decoration: none;
    /* transition-duration: 0.8s;   */
    transition-duration: 0.5s 1s;
    &:hover {
        font-size: 22px;
        text-decoration: underline;
       
    }
}

