
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
.App{
  /* font-family:  cursive; */
  box-sizing: border-box;
}

.head {
  font-family:  cursive;
}



#mypic{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #000 0px 6px 6px;

}

 #html{
  /* border: 1px inset #FC490B; */
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #FC490B 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

 #html:hover{
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  border-radius: 10%;
  padding-top: 10%;
}


#css{
  /* border: 1px inset #CDDC39; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #2196F3 0px 6px 6px;
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  border-radius: 10%;
  padding-top: 10%;

 }

 #css:hover{
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  border-radius: 10%;
  padding-top: 10%;
} 

#js{
  /* border: 1px inset ; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #CDDC39 0px 6px 6px;
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  border-radius: 10%;
  padding-top: 10%;

 }

 /* #js:hover{
  box-shadow: #CDDC39 0px 19px 38px, #ef8967 0px 15px 12px;
  border-radius: 10%;
  padding-top: 10%;
} */


#react{
  /* border: 1px inset #CDDC39; */
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #00D8FF 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }
/* 
 #react:hover{
  box-shadow: #CDDC39 0px 19px 38px, #ef8967 0px 15px 12px;
  border-radius: 10%;
  padding-top: 10%;
} */

#redux{
  /* border: 1px inset #CDDC39; */
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #7649BC 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

 /* #redux:hover{
  box-shadow: #CDDC39 0px 19px 38px, #ef8967 0px 15px 12px;
  border-radius: 10%;
  padding-top: 10%;
} */


/* 2f74c0 */

#typescript{
  /* border: 1px inset #CDDC39; */
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #2f74c0 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;
 }

#chakra{
  /* border: 1px inset #CDDC39; */
  /* box-shadow: #689F38 0px 19px 38px, #ef8967 0px 15px 12px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #33C5BA 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }
/* 
 #chakra:hover{
  box-shadow: #CDDC39 0px 19px 38px, #ef8967 0px 15px 12px;
  border-radius: 10%;
  padding-top: 10%;
} */


#npm{
 
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #c53635 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }



 #mongodb{
  
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #3ca02e 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

 #vscode{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #0082ca 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;
}


 #cypress{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #306158 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

 #tailwind{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #36B6F2 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;
 }

 /* #npm:hover{
  box-shadow: #CDDC39 0px 19px 38px, #ef8967 0px 15px 12px;
  border-radius: 10%;
  padding-top: 10%;
}
 */


 
 #node{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #3F8B3A 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

 #express{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #7E7E7E 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;
 }


 

#github{
 
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #fff 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

 #netlify{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #24c1b1 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

 
 #vercel{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #000 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;

 }

#slack{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #e5ac2d 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;
}

#postman{
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, #f76935 0px 6px 6px;
  border-radius: 10%;
  padding-top: 10%;
}